<div class="jumbotron">
  <h1 class="page-title">Green Gems</h1>
  <p class="paragraph-intro">Welcome to Green Gems Shop</p>
</div>

    <%= link_to "Add new Plant", new_product_path, class: "btn btn-primary" %>

  </div>
</div>
