<div class="jumbotron">
  <h1 class="page-title">Green Gems</h1>
  <p class="paragraph-intro">Welcome to Green Gems Shop</p>
</div>

<h3 class="featured">Special products of the month</h3>

<% @products.each do |product| %>
  <p><%= product.name %></p>
<% end %>

<div class="container">
  <div>
    <ul class = "catalog">
      <% @products.each do |product| %>
      <li>
        <%= link_to image_tag(product.image_url, :class => "thumbnail"), product_path(product.id) %>
        <p><%= link_to product.name, product_path(product.id) %></p>

      </li>
      <% end %>

    </ul>

    <%= link_to "Add new Plant", new_product_path, class: "btn btn-primary" %>

  </div>
</div>
